// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@500;600&display=swap");
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/scss/bootstrap.scss";
// @import "./varaible";
@import "./variables";
* {
  box-sizing: border-box;
  //   color: white;
}
body {
  padding: 0;
  margin: 0;
  // background-color: red;
  // p {
  //   color: #21361e;
  // }
}
*,
html {
  font-size: 18px;

  @media screen and(max-width:768px) {
    font-size: 14px;
  }
}

//headrcomp
// .nav {
//   background-color: yellow;
//   position: fixed;
//   color: white;
//   /* #21361E */
//   Link {
//     // color: white;
//     text-decoration: none;
//     font-weight: 500;
//     color: white;
//   }
//   a {
//     /* color: white; */
//     text-decoration: none;
//     font-weight: 500;
//     color: white;
//   }
// }

/* .dflex {
    display: flex; */
/* background-color: #70b765; */
/* 
    * {
      color: whitesmoke;
    }
  } */
// ul {
//   list-style: none;
//   text-decoration: none;
// }
// li {
//   /* margin-right: 100px; */
//   list-style: none;
//   text-decoration: none;
// }
.nav {
  background-color: white;
}

nav {
  .logo {
    &:hover {
      filter: drop-shadow(-15px 10px 30px rgba(76, 64, 247, 0.25));
      // scale: 1.2rem;
    }
  }
  ul {
    gap: 6rem;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: #21361e;
      font-weight: 700;
      &:hover {
        color: #70b765;
      }
    }
  }
  .nav-btn {
    background-color: #70b765;
    border-radius: 3.3px;

    &:hover {
      filter: drop-shadow(-15px 10px 30px rgba(76, 64, 247, 0.25));
      // scale: 1.2rem;
    }
  }
}

.main {
  min-height: 100vh;
  // background: url("/vector-DEC-2020-32_generated.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}
.banner {
  min-height: 90vh;
}
.home {
  // background: linear-gradient(120deg, #c5e2c1, rgba(1, 84, 69, 0.67));

  background: linear-gradient(275deg, #21361e, rgba(1, 84, 1, 0.67));

  min-height: inherit;
}
.about {
  background-color: #70b765;
}

.text,
h3 {
  font-size: 16px;
  // color: #70b765;
  text-align: justify;
}

// sevices
.services {
  .service-card {
    // background-color: red;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    // background-color: red;
    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
    border-radius: 20px;
    // border: dashed 0.05px;
    border: none;
    // height: 452px;
    // display: -webkit-box;
    // max-width: 80%;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // width: 250px;

    .circle {
      justify-self: center;
      background-color: #70b765;

      height: 4.3rem;
      width: 4.3rem;
      border-radius: 50%;
      filter: drop-shadow(0px 10px 10px #70b765);
      .icon {
        font-size: 1.8rem;
        color: white;
      }
    }
    .circle2 {
      filter: drop-shadow(0px 10px 10px #eabe0f);
      background-color: #eabe0f;
    }

    &:hover {
      background-color: #70b765;
      color: white;
      .circle {
        background-color: #fff;
        // filter: drop-shadow(0px 15px 30px #372dbc);
        .icon {
          color: #70b765;
        }
      }
      .circle2 {
        background-color: #fff;
        filter: none;
        // filter: drop-shadow(0px 15px 30px #372dbc);
        .icon {
          color: #70b765;
        }
      }
      .icon2 {
        background-color: #fff;
      }
    }
  }
}
// doc
.pro-card {
  background: #ffffff;
  box-shadow: 0px 25px 100px rgba(76, 64, 247, 0.08);
  border-radius: 20px;
}
.logos {
  // background-color: #eabe0f;
  .logo-s {
    color: red;
    font-size: 20px;
  }
}

.test-card {
  // background: red;

  border-radius: 20px;
  border: none;
  .elipse {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    border: dashed 0.001px;
    margin-top: -60px;

    img {
      border-radius: 50%;
    }
  }
  &:hover {
    box-shadow: -5px 10px 30px rgba(76, 64, 247, 0.2);
    transform: scale(1.02);
  }
}

//footer
footer {
  margin-top: 200px;
  background: linear-gradient(275deg, #21361e, rgba(1, 84, 1, 0.67));
  .sub {
    margin-top: -100px;
    .submail {
      border: 2px solid #72c964;
      box-sizing: border-box;
      box-shadow: 0px 8px 50px #70b765;
      border-radius: 11px;
      .mail {
        border: none;
        outline: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
    // font-weight: 700;
    &:hover {
      color: #70b765;
    }
  }

  .elipse2 {
    height: 43px;
    width: 43px;
    background-color: #ffffff;
    border-radius: 50%;
    .contact-icon {
      color: #70b765;
      font-size: 23px;
      // background-color: #fff;
    }
  }

  .line {
    border: 1px solid #ffffff;
    margin-top: 2.4rem;
  }
  .elipse4 {
    height: 35px;
    width: 35px;
    background-color: #70b765;
    border-radius: 50%;
    .contact-icon {
      color: white;
      font-size: 23px;
      // background-color: #fff;
    }
    &:hover {
      background-color: white;
      .contact-icon {
        color: #70b765;
        font-weight: bolder;
      }
    }
  }
}

//businees
.business {
  .business-main {
    background: linear-gradient(275deg, #21361e, rgba(1, 84, 1, 0.67));
    height: 40vh;
  }
}
